.content-wrapper {
  overflow: scroll;
  flex: 1;

  ion-content {
    height: auto;

    &::part(scroll) {
      overflow: visible!important;
    }
  }
}

.info-header {
  color: var(--ion-text-color);
  padding-top: 60px;

  .song-info {
    text-align: center;

    .cover {
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 auto 15px;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: auto;
        height: auto;

        max-height: 100%;
        max-width: 100%;

        margin: auto 0;
      }
    }

    .meta {
      .title {
        margin: 0;
        font-weight: 600;
      }
      .author {
        margin: 0;
        color: rgba(var(--ion-text-color-rgb), .7);
      }
    }
  }
}

.controls {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;

  .control {
    width: 30%;
    text-align: center;

    > * {
      pointer-events: none;
    }

    ion-icon {
      position: relative;
      padding: 10px;
      font-size: 2rem;
    }

    &.active ion-icon {
      color: var(--ion-color-primary);
      overflow: visible;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;

        width: 7px;
        height: 7px;

        border-radius: 50%;
        background:  var(--ion-color-primary);
        transform: translateX(-50%);
      }
    }

    &.one-more ion-icon {
      &::before {
        content: '1';
        position: absolute;
        top: 0;
        right: 4px;

        width: 16px;
        height: 16px;

        color: var(--ion-color-primary-contrast);
        font-size: 14px;
        line-height: 16px;
        text-align: center;

        border-radius: 50%;
        background:  var(--ion-color-primary);
        border: 3px solid var(--ion-background-color);
      }
    }

    p {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: .9rem;
      font-weight: 600;
    }
  }
}

.options {
  .option {
    display: flex;
    align-items: center;
    ion-icon {
      padding: 15px;
      font-size: 1.5rem;
      color: rgba(var(--ion-text-color-rgb), .7);
    }
    span {
      font-size: 1.1rem;
    }
  }
}

.close-footer {
  ion-toolbar {
    --border-width: 0!important;
    --min-height: 55px!important;
    --ion-color-base: rgba(var(--ion-color-light-rgb), .8)!important;

    .close-button {
      justify-content: center;
    }
  }
}
