$ui-height: 220px;

.hide { opacity: 0; }
.show { opacity: 1; }

.player-header {
  position: absolute;

  ion-toolbar {
    --background: rgba(0, 0, 0, 0);
    --opacity: 0;
    --min-height: 64px;
  }
}

.background {
  height: calc(100% - #{$ui-height});

  .cover {
    position: relative;
    height: 100%;
    transition: opacity .3s;

    margin:  0 25px;
  
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      width: auto;
      height: auto;

      max-height: 100%;
      max-width: 100%;

      margin: auto 0;
    }
  }
  .canvas {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
    
    transition: opacity .3s;
  
    img {
      height: 100%;
      width: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  
    .backdrop {
      position: absolute;
      top: 0;
      left: 0;
  
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .3);
    }
  }
}

.ui {
  height: $ui-height;
  transition: opacity .3s;
  padding: 0 25px 25px;
  
  .metadata {
    font-weight: 600;

    .title {
      font-size: 1.8rem;
    }

    .author {
      color: rgba(var(--ion-text-color-rgb), .5);
      font-size: 1.05rem;
    }
  }
  .slider {
    position: relative;
    font-size: .9rem;
    ion-range {
      padding: 8px 0 0;
    }
    .time {
      position: absolute;
      left: 0;
    }
    .length {
      position: absolute;
      right: 0;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      position: relative;
      padding: 5px 10px 10px;
      &.x1 {
        font-size: 1.8rem;
      }
      &.x2 {
        font-size: 3.3rem;
      }
      &.x3 {
        font-size: 5.3rem;
      }

      &.active {
        color: var(--ion-color-primary);
        overflow: visible;
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;

          width: 7px;
          height: 7px;

          border-radius: 50%;
          background:  var(--ion-color-primary);
          transform: translateX(-50%);
        }
          
        &.one-more {
          &::before {
            content: '1';
            position: absolute;
            top: 0;
            right: 4px;

            width: 16px;
            height: 16px;

            color: var(--ion-color-primary-contrast);
            font-size: 14px;
            line-height: 16px;
            text-align: center;

            border-radius: 50%;
            background:  var(--ion-color-primary);
            border: 3px solid var(--ion-background-color);
          }
        }
      }
    }
  }
}

