ion-modal{
  &.background-blur {
    --background: rgba(0, 0, 0, 0);

    .modal-wrapper {
      --background: rgba(0, 0, 0, 0);
      backdrop-filter: contrast(90%) blur(10px);
    }
  }
  &.fullscreen {
    --width: 100%;
    --height: 100%;
    --border-radius: 0;
  }
}
